###### Basic app settings
NODE_ENV=development
LISTEN_HOST=localhost
LISTEN_PORT=3000

###### Timezone
# Force application timezone (affects pretty logs)
TZ=UTC

###### API prefix
API_BASE_PATH=api
API_VERSION=v1

###### Logging
# Development uses more verbose logging
LOG_LEVEL=debug
