services:
  translate-gateway-microservice:
    image: ghcr.io/bozonx/translate-gateway-microservice:latest
    container_name: translate-gateway-microservice
    hostname: translate-gateway-microservice
    ports:
      - '8080:80'
    environment:
      - TZ=UTC
      - API_BASE_PATH=api
      - LOG_LEVEL=warn
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://127.0.0.1:80/api/v1/health || exit 1']
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
