name: Docker Image CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Get versions from package.json
        id: versions
        run: |
          if [ ! -f package.json ]; then
            echo "package.json not found!"
            exit 1
          fi
          echo "APP_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT
          echo "NODE_VERSION=$(node -p "require('./package.json').engines.node.replace('>=', '').split('.')[0]")" >> $GITHUB_OUTPUT
          echo "APP_NAME=$(node -p "require('./package.json').name")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.versions.outputs.NODE_VERSION }}
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run unit tests
        run: pnpm test:unit

      - name: Build the project
        run: pnpm build

      - name: Build the Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build . --file docker/Dockerfile --build-arg NODE_MAJOR=${{ steps.versions.outputs.NODE_VERSION }} --tag ghcr.io/$OWNER/${{ steps.versions.outputs.APP_NAME }}:${{ steps.versions.outputs.APP_VERSION }}
          docker build . --file docker/Dockerfile --build-arg NODE_MAJOR=${{ steps.versions.outputs.NODE_VERSION }} --tag ghcr.io/$OWNER/${{ steps.versions.outputs.APP_NAME }}:latest

      - name: Login to GHCR
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        if: ${{ github.event_name == 'push' }}
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/$OWNER/${{ steps.versions.outputs.APP_NAME }}:${{ steps.versions.outputs.APP_VERSION }}
          docker push ghcr.io/$OWNER/${{ steps.versions.outputs.APP_NAME }}:latest
